<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Ivan Djurkov">
    <meta name="description" content="Phone Book Application project for developer candidate">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/phonebook.css">
    <title>Phonebook</title>
</head>
<body>
    <!-- BEGIN ZAGLAVLJE -->
    <div id="head-div">
        <header>
            <h1>Phonebook App</h1>
            <img src="images/drawing.svg">
        </header>
    </div>
    <!-- END ZAGLAVLJE -->

    <!-- BEGIN GLAVNA NAVIGACIONA LINIJA -->
    <div id="nav-div">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li><li><a href="#" id="current">PHONEBOOK</a></li><li><a href="about.html">ABOUT</a></li><li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    <!-- END GLAVNA NAVIGACIONA LINIJA -->

    <!-- BEGIN MAIN CONTENT AREA -->
    <div id="content-div">
        <main>

            <section class="hidden">
                <h2>Phonebook</h2>
                <p>This is the Phone Book Application main app page.</p>
            </section>

            <!-- BEGIN INPUT AND FILTERS-->
            <section>
                <button id="new-record-btn">New record</button>
                <div style="float:right">
                    <form method="GET" action="/phonebook">
                        <label for="filter">Filter by last name: </label>
                        <input type="text" id="filter" name="lNameFilter" placeholder="Blank for all records">
                        <input type="submit"  value="List records">
                    </form>
                </div><br>
            </section>
            <!-- END INPUT AND FILTERS -->

            <!-- BEGIN IMENIK LISTING -->
            <section>
                <% if (databaseMod) { %>
                    <p id="db-mod"><%- databaseMod %></p>
                <% } %>
                <% if (records.length != 0) { %>
                <form method="POST" action="/phonebook-delete">
                    <table id="phonebook">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th class="delete-button">Select</th>
                        </tr>
                        <% records.forEach((record) => { %>
                            <tr>
                                <td><%= record.first_name %></td>
                                <td><%= record.last_name %></td>
                                <td><%= record.phone_number %></td>
                                <td><input class="select-record" type="checkbox" name="delMarked" value="<%= record.phone_number %>"></td>
                            </tr>
                        <% }) %>
                    </table><br>
                    <button id="select-all" type="button">Select all</button>
                    <button id="deselect-all" type="button">Deselect all</button>
                    <input id="delete-selected" class="btn" type="submit" value="Delete selected">
                <% } else { %>
                    <p id="db-mod"><%= error %></p
                <% } %>
                </form>
            </section>
            <!-- END IMENIK LISTING -->

            <!-- BEGIN FORMA ZA UNOS NOVOG TELEFONA -->
            <div id="overlay-background">
                <div id="insert-overlay">
                    <h3>Insert new phonebook record</h3>
                    <form id="insert-record-form" method="POST" action="/phonebook-insert">
                        <div class="form-element">
                            <label for="first-name">First name:</label><br>
                            <input type="text" id="first-name-input" name="fName"><br>
                        </div>
                        <div class="form-element">
                            <label for="last-name">Last name:</label><br>
                            <input type="text" id="last-name-input" name="lName"><br>
                        </div>
                        <div class="form-element">
                            <label for="phone-number">Phone number:</label><br>
                            <input type="text" id="phone-number-input" name="pNumber"><br>
                        </div>
                        <br>
                        <div class="form-element">
                            <input id="submit-record" type="submit" value="Insert record">
                        </div>
                        <div class="form-element">
                            <button id="reset-fields" type="button">Reset fields</button>
                        </div>
                    </form>
                    <button id="close-insert-overlay">X</button>
                </div>
            </div>
            <!-- END FORMA ZA UNOS NOVOG TELEFONA -->

        </main>
    </div>
    <!-- END MAIN CONTENT AREA -->

    <!-- BEGIN FOOTER -->
    <div id="foot-div">
        <footer>
            <p>Copyright © 2018 - Ivan Djurkov</p>
        </footer>
    </div>
    <!-- END FOOTER -->

    <!-- JAVASCRIPT -->
    <script src="scripts/phonebook-script.js"></script>

</body>
</html>